nodered.json
[{"id":"9d8b91fa.93674","type":"tab","label":"Lampada e Twitter"},{"id":"bbe5824.cb5b3","type":"function","z":"9d8b91fa.93674","name":"Recebe resposta do conversation","func":"context.global.sensor = context.global.sensor || 0;\n\ncontext.global.sensor  = msg.payload;\n\n//msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":542.1333312988281,"y":374.4666748046875,"wires":[["23fe2efb.3a666a","172b2939.42a467"]]},{"id":"e6eb97af.d6389","type":"change","z":"9d8b91fa.93674","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"#lampadawatson","fromt":"str","to":"","tot":"str"},{"t":"change","p":"tweet.text","pt":"msg","from":"#lampadawatson","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":242.26666259765625,"y":155.29998779296875,"wires":[["d57d22ad.87e11"]]},{"id":"ff389c9c.44828","type":"inject","z":"9d8b91fa.93674","name":"","topic":"","payload":"desliga a lampada","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":222.566650390625,"wires":[["d57d22ad.87e11"]]},{"id":"d57d22ad.87e11","type":"watson-conversation-v1","z":"9d8b91fa.93674","name":"","workspaceid":"413c6217-a6fe-4561-8f9e-0211091f45ca","multiuser":false,"context":true,"x":515.10009765625,"y":287.76666259765625,"wires":[["bbe5824.cb5b3"]]},{"id":"f77a2607.9a9078","type":"debug","z":"9d8b91fa.93674","name":"","active":true,"console":"false","complete":"false","x":909.1666870117188,"y":372.48614501953125,"wires":[]},{"id":"23fe2efb.3a666a","type":"change","z":"9d8b91fa.93674","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.intents[0].intent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740.5,"y":318.5832824707031,"wires":[["f77a2607.9a9078","c736d376.148ce","b85ea121.f5101"]]},{"id":"e58fe226.79f0e","type":"debug","z":"9d8b91fa.93674","name":"","active":true,"console":"false","complete":"payload","x":749.375,"y":612.5500526428223,"wires":[]},{"id":"c736d376.148ce","type":"function","z":"9d8b91fa.93674","name":"","func":"\nif(msg.payload == \"ligar\")\n{\n    msg.payload= \"@\" + msg.topic.slice(7,30) + \" Obrigada por participar no Plus day do CASE! Vamos ligar a Lâmpada!\";\n}\nelse \n{\n    msg.payload= \"@\" + msg.topic.slice(7,30) + \" Obrigada por participar no Plus day do CASE ! Vamos desligar a Lâmpada!\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":777.6083984375,"y":422.0000305175781,"wires":[["d6f50cab.4cc34","5200941c.0648fc"]]},{"id":"d6f50cab.4cc34","type":"twitter out","z":"9d8b91fa.93674","twitter":"","name":"Tweet","x":877.2415771484375,"y":519.9500312805176,"wires":[]},{"id":"b85ea121.f5101","type":"function","z":"9d8b91fa.93674","name":"","func":"\nif(msg.payload == \"ligar\")\n{\n    msg.payload= 1;\n}\nelse \n{\n    msg.payload= 0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":461.75,"wires":[["e99282ba.c8259","fbfc7bca.eaef3","3ac833cf.e97934"]]},{"id":"e99282ba.c8259","type":"mqtt out","z":"9d8b91fa.93674","name":"","topic":"SMAZON_IP_RASPI","qos":"2","retain":"","broker":"25bbbeb4.bd0132","x":691.5,"y":529.5,"wires":[]},{"id":"50a6049.43560fc","type":"inject","z":"9d8b91fa.93674","name":"","topic":"","payload":"Liga a lampada","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":124,"wires":[["d57d22ad.87e11"]]},{"id":"172b2939.42a467","type":"http request","z":"9d8b91fa.93674","name":"","method":"GET","ret":"txt","url":"http://smazon-nodered.mybluemix.net/sensor?id=be892aacd43d6c172acdc5c02478092e","tls":"","x":840.9500122070312,"y":238.45001220703125,"wires":[[]]},{"id":"90369ab7.3f3","type":"http in","z":"9d8b91fa.93674","name":"","url":"/google","method":"get","swaggerDoc":"","x":75,"y":526.7666625976562,"wires":[[]]},{"id":"850beb6a.d3ef48","type":"function","z":"9d8b91fa.93674","name":"","func":"msg.payload = msg.req.query.text;\nreturn msg;","outputs":1,"noerr":0,"x":104.53334045410156,"y":387.79998779296875,"wires":[["d57d22ad.87e11"]]},{"id":"e6984d5f.03bbd8","type":"change","z":"9d8b91fa.93674","name":"Captura a Transcrição","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.9998779296875,"y":216.3999786376953,"wires":[["24f47b04.0aad0c","d57d22ad.87e11"]]},{"id":"24f47b04.0aad0c","type":"debug","z":"9d8b91fa.93674","name":"","active":true,"console":"false","complete":"false","x":858.3331909179688,"y":58.29998779296875,"wires":[]},{"id":"61128d26.be72b4","type":"http in","z":"9d8b91fa.93674","name":"","url":"/google","method":"get","swaggerDoc":"","x":115.16667175292969,"y":307.3333435058594,"wires":[["850beb6a.d3ef48"]]},{"id":"fbfc7bca.eaef3","type":"debug","z":"9d8b91fa.93674","name":"","active":true,"console":"false","complete":"payload","x":721.4166259765625,"y":471.83331298828125,"wires":[]},{"id":"3ac833cf.e97934","type":"mqtt out","z":"9d8b91fa.93674","name":"","topic":"SMAZON_RASP2","qos":"2","retain":"","broker":"25bbbeb4.bd0132","x":685.3333129882812,"y":581.6666870117188,"wires":[]},{"id":"5200941c.0648fc","type":"debug","z":"9d8b91fa.93674","name":"","active":true,"console":"false","complete":"false","x":939,"y":440.16668701171875,"wires":[]},{"id":"93b2a8ba.c3e92","type":"twitter in","z":"9d8b91fa.93674","twitter":"","tags":"#lampadawatson","user":"false","name":"","topic":"tweets","inputs":1,"x":110.83334350585938,"y":38.9666748046875,"wires":[["e6eb97af.d6389"]]},{"id":"25bbbeb4.bd0132","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]